    <header>
        <h1>Test MVC</h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                <li><a asp-controller="Home" asp-action="About">Om</a></li>
                <li><a asp-controller="Home" asp-action="AddWorkout">Lägg till i schemat</a></li>
                
            </ul>
        </nav>
    </header>