@model MVC123.Models.ScheduleModel

@{
    ViewData["Title"] = "WOS - Lägg till träningstillfälle";
}

<h2>Lägg till ett träningstillfälle</h2>
<p class="schedMessage">@ViewData["Message"]</p>
<form method="post">
    <label  asp-for="workoutName"></label><br>
    <input type="text" asp-for="workoutName" />
    <span asp-validation-for="workoutName"></span>
    <br>
    <label asp-for="dayOfWeek"></label>
    <div id="weekbox">
        <label>Måndag
        <input type="radio" asp-for="dayOfWeek" value="Måndag" />
        </label>
        <label>Tisdag
        <input type="radio" asp-for="dayOfWeek" value="Tisdag" />
        </label>
        <label>Onsdag
        <input type="radio" asp-for="dayOfWeek" value="Onsdag" />
        </label>
        <label>Torsdag
        <input type="radio" asp-for="dayOfWeek" value="Torsdag" />
        </label>
        <label>Fredag
        <input type="radio" asp-for="dayOfWeek" value="Fredag" />
        </label>
        <label>Lördag
        <input type="radio" asp-for="dayOfWeek" value="Lördag" />
        </label>
        <label>Söndag
        <input type="radio" asp-for="dayOfWeek" value="Söndag" />
        </label>
    </div>
    <span asp-validation-for="dayOfWeek"></span>
    <br>
    <label asp-for="time"></label><br>
    <input type="time" asp-for="time" />
    <span asp-validation-for="time"></span>
    <br>
    <label asp-for="degreeDifficulty"></label><br>
    <input type="number" asp-for="degreeDifficulty" value="0"/>
    <span asp-validation-for="degreeDifficulty"></span> 
    <br>
    <input type="submit" value="Lägg till">
    
</form>

