@model MVC123.Models.CourseModel
@{
    ViewData["Title"] = "Kurser";
}

<h2>Mina kurser</h2>

<form method="post">
    <label asp-for="coursecode"></label>
    <input asp-for="coursecode" />
    <span asp-validation-for="coursecode"></span>
    <br>
    <label asp-for="cname"></label>
    <input asp-for="cname" />
    <span asp-validation-for="cname"></span>
    <br>
    <input type="submit" value="Lägg till kurs">
</form>