*{margin:0; padding:0; box-sizing: border-box;}

body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
a { text-decoration: none;}

h1{ font-size:1.2em;}

h2{ font-size:1.6em;}
header {padding:10px;}
.container {margin-top:50px;}
main {
    max-width:600px;
    margin:0 auto;
    padding:10px;
}
ul {list-style:none;}
nav ul { display:flex; gap:15px;}

main ul li { 
    padding:14px 16px 18px 16px;
    border:2px solid rgb(226, 226, 226);
    margin-bottom:10px;
}

li strong{display:block;}

input{ display:block;}

input[type=submit]{
    background-color:white;
    padding:8px;
    border:1px solid grey;
}

form span {
    color:red;
    padding-bottom:10px;
}